.vh-100{
    height: 100vh;
}
.p-lg-border{
    border: 0.5rem solid #BBD58E
}
.p-sm-border{
    border: 0.2rem solid #BBD58E;
}
.p-pink-bg{
    background-color: #ffc0cb;
}
body{
    background-color: #7fc67a;
    color: white;
    font-weight: bold;
}
.bi-camera{
    font-size: 3rem;
}
.bi-camera::before {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%); /* Căn giữa */
    background-color: #BBD58E;
    padding: 1rem;
    border-radius: 50%;
}
#cameraCanvas {
    width: 100%; /* Đặt chiều rộng canvas chiếm 100% của khung chứa */
    height: 100%; /* Đặt chiều cao canvas chiếm 100% của khung chứa */
    object-fit: contain; /* Giữ tỷ lệ khung hình của canvas */
}
#cameraIcon {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%); /* Căn giữa */
}
.w-40 {
    width: 45%;
}
.h-40 {
    height: 45%;
}
#switchButton {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.bi-arrow-clockwise{
    font-size: 2rem;
}
.bi-arrow-clockwise::before {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%); /* Căn giữa */
    background-color: #BBD58E;
    padding: 0.5rem;
    border-radius: 50%;
}